.4_15 { 
	overflow:hidden;
}
.e4_15 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e4_17 { 
	background-color:rgba(158.31250101327896, 158.31250101327896, 158.31250101327896, 1);
	width:1440px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_18 { 
	border-radius:500px;
	background-color:rgba(161.0750287771225, 116.8749949336052, 255, 1);
	width:60px;
	height:60px;
	position:absolute;
	left:1104px;
	top:12px;
}
.4_18 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e4_19 { 
	color:rgba(255, 255, 255, 1);
	width:25px;
	height:47px;
	position:absolute;
	left:1121px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e4_20 { 
	color:rgba(255, 255, 255, 1);
	width:192px;
	height:28px;
	position:absolute;
	left:1181px;
	top:28px;
	font-family:Roboto;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e4_21 { 
	transform: rotate(179.99999499104388deg);
	background-color:rgba(0, 0, 0, 1);
	width:30.999998092651367px;
	height:11.00000286102295px;
	position:absolute;
	left:1424px;
	top:48px;
}
.4_21 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.4_22 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e4_22 { 
	width:48px;
	height:0px;
	position:absolute;
	left:25px;
	top:24px;
}
.4_23 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e4_23 { 
	width:48px;
	height:0px;
	position:absolute;
	left:25px;
	top:42px;
}
.4_24 { 
	border:3px solid rgba(0, 0, 0, 1);
}
.e4_24 { 
	width:48px;
	height:0px;
	position:absolute;
	left:25px;
	top:61px;
}
.e9_2 { 
	background-color:rgba(96.68749898672104, 131.5162628889084, 255, 1);
	width:300px;
	height:400px;
	position:absolute;
	left:28px;
	top:111px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e9_3 { 
	border-radius:500px;
	background-color:rgba(229.49999392032623, 229.49999392032623, 229.49999392032623, 1);
	width:215px;
	height:215px;
	position:absolute;
	left:70px;
	top:136px;
}
.e9_4 { 
	transform: rotate(-130.36453436131677deg);
	width:214px;
	height:0px;
	position:absolute;
	left:247.59674072265625px;
	top:324.0550231933594px;
}
.9_4 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e9_5 { 
	transform: rotate(133.79816605761866deg);
	width:214px;
	height:0px;
	position:absolute;
	left:252.11370849609375px;
	top:166px;
}
.9_5 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e9_7 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:56px;
	position:absolute;
	left:95px;
	top:403px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e9_18 { 
	background-color:rgba(96.68749898672104, 131.5162628889084, 255, 1);
	width:300px;
	height:400px;
	position:absolute;
	left:1111px;
	top:111px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e9_19 { 
	border-radius:500px;
	background-color:rgba(229.49999392032623, 229.49999392032623, 229.49999392032623, 1);
	width:215px;
	height:215px;
	position:absolute;
	left:1153px;
	top:136px;
}
.e9_20 { 
	transform: rotate(-130.36453436131677deg);
	width:214px;
	height:0px;
	position:absolute;
	left:1330.5966796875px;
	top:324.0550231933594px;
}
.9_20 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e9_21 { 
	transform: rotate(133.79816605761866deg);
	width:214px;
	height:0px;
	position:absolute;
	left:1335.11376953125px;
	top:166px;
}
.9_21 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e9_22 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:56px;
	position:absolute;
	left:1178px;
	top:403px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e9_13 { 
	background-color:rgba(96.68749898672104, 131.5162628889084, 255, 1);
	width:300px;
	height:400px;
	position:absolute;
	left:750px;
	top:112px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e9_14 { 
	border-radius:500px;
	background-color:rgba(229.49999392032623, 229.49999392032623, 229.49999392032623, 1);
	width:215px;
	height:215px;
	position:absolute;
	left:792px;
	top:137px;
}
.e9_15 { 
	transform: rotate(-130.36453436131677deg);
	width:214px;
	height:0px;
	position:absolute;
	left:969.5966796875px;
	top:325.0550231933594px;
}
.9_15 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e9_16 { 
	transform: rotate(133.79816605761866deg);
	width:214px;
	height:0px;
	position:absolute;
	left:974.11376953125px;
	top:167px;
}
.9_16 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e9_17 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:56px;
	position:absolute;
	left:817px;
	top:404px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e9_8 { 
	background-color:rgba(96.68749898672104, 131.5162628889084, 255, 1);
	width:300px;
	height:400px;
	position:absolute;
	left:389px;
	top:111px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e9_9 { 
	border-radius:500px;
	background-color:rgba(229.49999392032623, 229.49999392032623, 229.49999392032623, 1);
	width:215px;
	height:215px;
	position:absolute;
	left:431px;
	top:136px;
}
.e9_10 { 
	transform: rotate(-130.36453436131677deg);
	width:214px;
	height:0px;
	position:absolute;
	left:608.5966796875px;
	top:324.0550231933594px;
}
.9_10 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e9_11 { 
	transform: rotate(133.79816605761866deg);
	width:214px;
	height:0px;
	position:absolute;
	left:613.11376953125px;
	top:166px;
}
.9_11 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e9_12 { 
	color:rgba(255, 255, 255, 1);
	width:166px;
	height:56px;
	position:absolute;
	left:456px;
	top:403px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e9_23 { 
	color:rgba(0, 0, 0, 1);
	width:243px;
	height:56px;
	position:absolute;
	left:56px;
	top:563px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e9_24 { 
	color:rgba(0, 0, 0, 1);
	width:243px;
	height:56px;
	position:absolute;
	left:417px;
	top:563px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e9_25 { 
	color:rgba(0, 0, 0, 1);
	width:243px;
	height:56px;
	position:absolute;
	left:778px;
	top:565px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e9_26 { 
	color:rgba(0, 0, 0, 1);
	width:243px;
	height:56px;
	position:absolute;
	left:1139px;
	top:566px;
	font-family:Roboto;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
