<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="../static/leaderboard.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>
<body>
<div class="navbar">
    <a href="index.html" style="text-decoration: none;"><img src ="../static/images/homepage.png" height="17px" width="17px"></a>
    <a href="profile.html" style="text-decoration: none; float: right;">Profile</a>
</div>
<div class="main"></div>
<div class=e1_2 style="transform: translate(-50%, -50%); left: 50%; top: 50%; margin-top: 15px; ">
    <div class=e1_7></div>
    <span class="e1_3">Leaderboard</span>
    <span class="e1_27">{{ hs1 }}</span>
    <span class="e1_28">{{ hs10 }}</span>
    <span class="e1_29">{{ hs9 }}</span>
    <span class="e1_30">{{ hs8 }}</span>
    <span class="e1_31">{{ hs7 }}</span>
    <span class="e1_32">{{ hs6 }}</span>
    <span class="e1_33">{{ hs5 }}</span>
    <span class="e1_34">{{ hs4 }}</span>
    <span class="e1_35">{{ hs2 }}</span>
    <span class="e1_36">{{ hs3 }}</span>
    <span class="e1_37">{{ d1 }}</span>
    <span class="e1_38">{{ d10 }}</span>
    <span class="e1_39">{{ d9 }}</span>
    <span class="e1_40">{{ d8 }}</span>
    <span class="e1_41">{{ d7 }}</span>
    <span class="e1_42">{{ d6 }}</span>
    <span class="e1_43">{{ d5 }}</span>
    <span class="e1_44">{{ d4 }}</span>
    <span class="e1_45">{{ d2 }}</span>
    <span class="e1_46">{{ d3 }}</span>
    <span class="e1_18">
        <a href="/profile/{{u1}}">{{ u1 }}</a>
    </span>
    <span class="e1_22">
        <a href="/profile/{{u10}}">{{ u10 }}</a>
    </span>
    <span class="e1_23">
        <a href="/profile/{{u9}}">{{ u9 }}</a>
    </span>
    <span class="e1_24">
        <a href="/profile/{{u8}}">{{ u8 }}</a>
    </span>
    <span class="e1_25">
        <a href="/profile/{{u7}}">{{ u7 }}</a>
    </span>
    <span class="e1_26">
        <a href="/profile/{{u6}}">{{ u6 }}</a>
    </span>
    <span class="e1_19">
        <a href="/profile/{{u5}}">{{ u5 }}</a>
    </span>
    <span class="e1_20">
        <a href="/profile/{{u4}}">{{ u4 }}</a>
    </span>
    <span class="e1_21">
        <a href="/profile/{{u2}}">{{ u2 }}</a>
    </span>
    <span class="e1_17">
        <a href="/profile/{{u3}}">{{ u3 }}</a>
    </span>
    <span class="e1_11">Date</span>
    <span class="e1_10">Name</span>
    <span class="e1_9">High Score</span>
    <div class="e1_13"></div>
    <div class="e1_15"></div><span  class="e3_3">Endless Mode</span>
</div>
</body>
</html>