<!DOCTYPE html>>
<html>
    <head>
        <link rel="stylesheet" href="../static/game.css">
    </head>

    <body>
        <div class="navbar">
            <a href="index.html" style="text-decoration: none;">Home</a>
            <a href="profile.html" style="text-decoration: none; float: right;">Profile</a>
        </div>
        <div class="main">
            <p style="font-size: 30px; color: red;">
                THIS IS WHERE THE ENDLESS GAME IS GOING TO GO
            </p>
        </div>
    </body>
    
</html>