<html lang="en">
            <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="static/game.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
            </head>
<div class=e4_16>
    <div class="e4_25"></div>
    <div class="e4_26"></div><span  class="e4_27">B</span><span  class="e4_28">bananainpajama7</span>
    <div class="e4_30"></div>
    <div class="e4_31"></div>
    <div class="e4_32"></div>
    <div class="e6_33"></div>
    <div class="e6_34"></div>
    <div class="e6_37"></div>
    <div class="e6_39"></div>
    <div class="e6_44"></div>
    <div class="e6_46"></div>
    <div class="e6_47"></div>
    <div class="e6_48"></div>
    <div class="e6_49"></div>
    <div class="e6_50"></div>
    <div class="e6_51"></div>
    <div class="e6_52"></div>
    <div class="e6_59"></div>
    <div class="e6_61"></div>
    <div class="e6_62"></div>
    <div class="e6_64"></div>
    <div class="e6_67"></div>
    <div class="e6_68"></div>
    <div class="e6_69"></div>
    <div class="e6_70"></div><span  class="e6_71">17.57</span>
    <div class="e6_72"></div><span  class="e6_75">Musician</span><span  class="e6_74">A.</span>
    <div class="e6_77"></div><span  class="e6_78">Musician</span><span  class="e6_79">A.</span>
    <div class="e6_92"></div><span  class="e6_93">Musician</span><span  class="e6_94">A.</span>
    <div class="e6_95"></div><span  class="e6_96">Miracle</span><span  class="e6_97">D.</span>
    <div class="e6_86"></div><span  class="e6_87">Musician</span><span  class="e6_88">A.</span>
    <div class="e6_89"></div><span  class="e6_90">Digital Love</span><span  class="e6_91">C.</span>
    <div class="e6_80"></div><span  class="e6_81">Musician</span><span  class="e6_82">A.</span>
    <div class="e6_83"></div><span  class="e6_84">Brave Soul</span><span  class="e6_85">B.</span>
    <div class="e6_98"></div><span  class="e6_99">3 / 10</span><span  class="e6_100">438.36</span>
  </div>