<!DOCTYPE html>>
<html>
    <head>
        <link rel="stylesheet" href="../static/gameselection.css">
    </head>

    <body>
        <div class="navbar">
            <a href="index.html" style="text-decoration: none;">Home</a>
            <a href="profile.html" style="text-decoration: none; float: right;">Profile</a>
        </div>
        <div class="main">
            <a href="playgame.html" style="text-decoration: none;">
                <button class="button playgame_button">Classic Mode
                    <p style="font-size: 24px;">Play the game until you have guessed 10 songs</p>
                </button>
            </a>
            <a href="endlessgame.html" style="text-decoration: none;">
                <button class="button endlessgame_button">Endless Mode
                    <p style="font-size: 24px;">Play the game until you get a song wrong</p>
                </button>
            </a>
        </div>
    </body>