<!DOCTYPE html>>
<html>

<head>
    <link rel="stylesheet" href="../static/gameselection.css">
</head>

<body>
    <div class="navbar">
        <a href="index.html" style="text-decoration: none;">Home</a>
        <a href="profile.html" style="text-decoration: none; float: right;">Profile</a>
    </div>
    <div class="main">
        <a href="playgame.html" style="text-decoration: none;">
            <button class="button">Classic Mode</button>
        </a>
        <a href="endlessgame.html" style="text-decoration: none;">
            <button class="button">Endless Mode</button>
        </a>
    </div>
</body>

</html>