<html lang="en">
            <head>
                <script type="text/javascript" src="../src/game.js"></script>

                <meta charset="utf-8">

                <title>Musical Chairs</title>
                <meta name="description" content="Figma htmlGenerator">
                <meta name="author" content="htmlGenerator">
                <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

                <link rel="stylesheet" href="../static/game.css">

                <style>
                /*
                    Figma Background for illustrative/preview purposes only.
                    You can remove this style tag with no consequence
                */
                body {background: #E5E5E5; }
                </style>
            </head>
            <body>
                <div class=e4_16>
                    <div class="e4_25"></div>
                    <div class="e4_26"></div><span  class="e4_27">B</span><span  class="e4_28">bananainpajama7</span>
                    <div class="e4_30"></div>
                    <div class="e4_31"></div>
                    <div class="e4_32"></div>
                    <div class="e6_33"></div>
                    <div class="e6_34"></div>
                    <div class="e6_37"></div>
                    <div class="e6_39"></div>
                    <div class="e6_44"></div>
                    <div class="e6_46"></div>
                    <div class="e6_47"></div>
                    <div class="e6_48"></div>
                    <div class="e6_49"></div>
                    <div class="e6_50"></div>
                    <div class="e6_51"></div>
                    <div class="e6_52"></div>
                    <div class="e6_59"></div>
                    <div class="e6_61"></div>
                    <div class="e6_62"></div>
                    <div class="e6_64"></div>
                    <div class="e6_67"></div>
                    <div class="e6_68"></div>
                    <div class="e6_69"></div>
                    <div class="e6_70"></div><span  class="e6_71">17.57</span>
                    <div class="e6_72"></div><span  class="e6_75"></span><span  class="e6_74"></span>
                    <div class="e6_92"></div><span  class="e6_93"></span><span  class="e6_94"></span>
                    <div class="e6_86"></div><span  class="e6_87"></span><span  class="e6_88"></span>
                    <div class="e6_80"></div><span  class="e6_81"></span><span  class="e6_82"></span>


                    <div class="scorebox"></div>
                    <span id="questionsRemaining" class="questionsRemaining">1 / 10</span>
                    <span id="score" class="score">0</span>

                    <button class="buttonAsquare" onclick="correct()"></button>
                    <span  class="buttonAanswer">Musician</span>
                    <span  class="buttonAa">A.</span>

                    <button class="buttonBsquare" onclick="wrong()"></button>
                    <span  class="buttonBanswer">Brave Soul</span>
                    <span  class="buttonBb">B.</span>

                    <button class="buttonCsquare" onclick="wrong()"></button>
                    <span  class="buttonCanswer">Digital Love</span>
                    <span  class="buttonCc">C.</span>

                    <button class="buttonDsquare" onclick="wrong()"></button>
                    <span  class="buttonDanswer">Miracle</span>
                    <span  class="buttonDd">D.</span>
                </div>
            </body>
