<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/help.css">
    </head>

    <body>
        <div class="navbar">
            <a href="index.html" style="text-decoration: none;">Home</a>
            <a href="profile.html" style="text-decoration: none; float: right;">Profile</a>
        </div>
        <div class="main">
            <div class="helpbackground">
                <span class="helpHowtoPlayTitle">
                    How to Play</span>
                <br>
                <span class="helpPageText">
                    1. Click &ldquo;Play Game&rdquo;<br>
                    2. Select the Game Mode<br>
                    3. Listen to the song<br>
                    4. Guess which song is being played<br>
                    <br>
                    - 30 seconds will be given to guess each song.<br>
                    - A correct answer will award 1 point.<br>
                    - A wrong answer will award no points.<br>
                </span>
                <a href="playgame.html" style="text-decoration: none;">
                    <button class="button play_button">Play Game</button>
                </a>
            </div>
        </div>
    </body>
    
</html>