<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/help.css">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
</head>

<body>
    <div class="navbar">
        <a href="index.html" style="text-decoration: none;"><img src ="../static/images/homepage.png" height="17px" width="17px"></a>
        <a href="profile.html" style="text-decoration: none; float: right;">Profile</a>
    </div>
    <div class="main">
        <div class="helpbackground">
            <span class="helpHowtoPlayTitle">
                    How to Play</span>
            <br>
            <span class="helpPageText">
                    1. Click &ldquo;Play Game&rdquo;<br>
                    2. Select your preferred Game Mode<br>
                    3. Listen to the song and select the correct answers<br>
                    4. Final scores are displayed when the game finishes<br>
                    <br>
                    - 30 seconds will be given to guess each song.<br>
                    - A correct answer will award 1-100 points, depending on how quick you answer.<br>
                    - A wrong answer will award no points.<br>
            </span>
            <button class="button play_button" onclick="location.href='gameselection.html'">Play Game</button>
            </div>
        </div>
    </div>
</body>

</html>