<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="static/styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e1_2><div  class="e3_3"></div><div  class="e3_4"></div><div  class="e4_2"></div><div  class="e4_3"></div><div  class="e4_4"></div><span  class="e4_5">B</span><span  class="e4_6">bananainpajama7</span><div  class="e4_8"></div><div  class="e4_9"></div><div  class="e4_10"></div><div  class="e4_11"></div><div  class="e4_12"></div><a href="selection" class="e4_14">Play</a><span  class="e4_13">How to Play</span></div>
          </body>
          </html>