<!DOCTYPE html>>
<html>

<head>
    <link rel="stylesheet" href="../static/menu.css">
</head>

<body>
    <div class="navbar">
        <a href="index.html" style="text-decoration: none;"><img src ="../static/images/homepage.png" height="17px" width="17px"></a>
        <a href="profile.html" style="text-decoration: none; float: right;">Profile</a>
    </div>
    <div class="logo">
        <img src="../static/images/logo.jpg" alt="Musical Chairs Logo" style="border-radius: 50%; width: 300px; position: absolute; margin: 10px;">
    </div>
    <div class="main">
        <button class="button help_button" onclick="location.href='help.html'">How to Play</button>
        <button class="button play_button" onclick="location.href='gameselection.html'">Play Game</button>
        <br>
        <br>
        <button class="button leaderboard_button" onclick="location.href='leaderboardselection.html'">Leaderboard</button>
        <button class="button search_button" onclick="location.href='search.html'">Player Search</button>   
    </div>
</body>

</html>