<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/gameselection.css">
        <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    </head>

    <body>
        <div class="navbar">
            <a href="index.html" style="text-decoration: none;"><img src ="../static/images/homepage.png" height="17px" width="17px"></a>
            <a href="profile.html" style="text-decoration: none; float: right;">Profile</a>
        </div>
        <div class="main">
            <a href="leaderboard.html" style="text-decoration: none;">
                <button
                        class="button playgame_button">Classic Mode Leaderboard
                </button>
            </a>
            <a href="endlessleaderboard.html" style="text-decoration: none;">
                <button
                        class="button endlessgame_button">Endless Mode Leaderboard
                </button>
            </a>
        </div>
    </body>