<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="static\leaderboard.css">
</head>
<body>
<div class="navbar">
    <a href="index.html" style="text-decoration: none;">Home</a>
    <a href="profile.html" style="text-decoration: none; float: right;">Profile</a>
</div>
<div class="main"></div>
<div class=e1_2>
    <span class="e1_3">Leaderboard</span>
    <div class="e1_7"></div>
        <span class="e1_27">{{ hs1 }}</span>
        <span class="e1_28">{{ hs10 }}</span>
        <span class="e1_29">{{ hs9 }}</span>
        <span class="e1_30">{{ hs8 }}</span>
        <span class="e1_31">{{ hs7 }}</span>
        <span class="e1_32">{{ hs6 }}</span>
        <span class="e1_33">{{ hs5 }}</span>
        <span class="e1_34">{{ hs4 }}</span>
        <span class="e1_35">{{ hs2 }}</span>
        <span class="e1_36">{{ hs3 }}</span>
        <span class="e1_37">{{ d1 }}</span>
        <span class="e1_38">{{ d10 }}</span>
        <span class="e1_39">{{ d9 }}</span>
        <span class="e1_40">{{ d8 }}</span>
        <span class="e1_41">{{ d7 }}</span>
        <span class="e1_42">{{ d6 }}</span>
        <span class="e1_43">{{ d5 }}</span>
        <span class="e1_44">{{ d4 }}</span>
        <span class="e1_45">{{ d2 }}</span>
        <span class="e1_46">{{ d3 }}</span>
        <span class="e1_18">{{ u1 }}</span>
        <span class="e1_22">{{ u10 }}</span>
        <span class="e1_23">{{ u9 }}</span>
        <span class="e1_24">{{ u8 }}</span>
        <span class="e1_25">{{ u7 }}</span>
        <span class="e1_26">{{ u6 }}</span>
        <span class="e1_19">{{ u5 }}</span>
        <span class="e1_20">{{ u4 }}</span>
        <span class="e1_21">{{ u2 }}</span>
        <span class="e1_17">{{ u3 }}</span>
        <span class="e1_11">Date</span>
        <span class="e1_10">Name</span>
        <span class="e1_9">High Score</span>
    <div class="e1_13"></div>
    <div class="e1_15"></div><span  class="e3_3">Classic Mode</span>
</div>
</body>
</html>