<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Musical Chairs | User not found</title>
    <link rel="stylesheet" href="../static/nonuser.css">
    <div class="navbar">
        <a href="/index.html" style="text-decoration: none;">Home</a>
        <a href="/profile.html" style="text-decoration: none; float: right;">Profile</a>
    </div>
    <style>
        p {
            color: red;
            font-size: 48px;
            text-align: center;
        }
    </style>
</head>
<body>
<p>It seems the user you searched for has not played before! (User does not exist)</p>
</body>
</html>