<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicalChairs | {{ username }}'s profile</title>
    <link rel="stylesheet" href="../static/otherprofile.css">
    <div class="navbar">
        <a href="/index.html" style="text-decoration: none;">Home</a>
        <a href="/profile.html" style="text-decoration: none; float: right;">Profile</a>
    </div>
</head>
<body>
    <div class="main"></div>
    <div class="account_box"></div>
    <div class="account_information_box"></div>
    <span  class="account_info_text">Information</span>
    <span  class="account_info_name">Account name:
                <br>
                {{ username }}</span>
    <div class="spotlogo"></div>
    <div class="stats_box"></div>
    <div class="statistics"></div>
    <span  class="statstext">Statistics</span>
    <div class="avatar_box">
        <img width="200" height="200" src="/file/{{avatar}}">
    </div>
    <div class="matchbox"></div>
        <span  class="hiscore_text">Highest Score:</span>
        <span  class="hiscore">{{ hiscore }}</span>
    <div class="matchtext"></div>
        <span  class="match_text">Match History</span>
    <div class="prevscores"></div>
    <span  class="e11_77">{{g1}}</span>
    <span  class="e11_78">{{g3}}</span>
    <span  class="e11_79">{{g4}}</span>
    <span  class="e11_80">{{g2}}</span>
    <span  class="e11_81">{{g5}}</span>
    <span  class="e11_88">{{s1}}</span>
    <span  class="e11_89">{{s3}}</span>
    <span  class="e11_90">{{s4}}</span>
    <span  class="e11_91">{{s2}}</span>
    <span  class="e11_92">{{s5}}</span>
</body>
</html>