<!DOCTYPE html>>
<html>
    <head>
        <link rel="stylesheet" href="../static/game.css">
        <script type="text/javascript" src="../static/game.js"></script>
        <link rel="shortcut icon" href="#">
    </head>

    <body>
        <script> 
            window.onload = countdownTime();
        </script>
        <div class="navbar">
            <a href="index.html" style="text-decoration: none;">Home</a>
            <a href="profile.html" style="text-decoration: none; float: right;">Profile</a>
        </div>
        <div class="section">
            <button class="timer" style="float: left;">
              <p id="countdown"></p>
            </button>
            <div class="scorebox" style="float: right;">
                <span id="questionsRemaining" class="questionsRemaining">1 / 10</span>
                <br>
                <span id="score" class="score">0</span>
                <span id="answerKey"></span>
            </div>
        </div>
        <audio src="" id="audio" loop="loop"></audio>
        <div class="main">
            <button class="song_button song1" onclick="answerKey = pressedA(answerKey); countdownTime();">
                <span class="question_box">A.</span>
                <span class="question_box" id="songname1"><span id="A"></span></span>
            </button>
            <br>
            <button class="song_button song2" onclick="answerKey = pressedB(answerKey); countdownTime();">
                <span class="question_box">B.</span>
                <span class="question_box" id="songname1"><span id="B"></span></span>
            </button>
            <br>
            <button class="song_button song3" onclick="answerKey = pressedC(answerKey); countdownTime();">
                <span class="question_box">C.</span>
                <span class="question_box" id="songname1"><span id="C"></span></span>
            </button>
            <br>
            <button class="song_button song4" onclick="answerKey = pressedD(answerKey); countdownTime();">
                <span class="question_box">D.</span>
                <span class="question_box" id="songname1"><span id="D"></span></span>
            </button>
            <audio id="my_audio" loop="loop">
                <source id="audioSource" src=""></source>
            </audio>
            <script>
                let answerKey;
                window.onload = function () {
                  answerKey = setAnswers();
                }
                document.body.addEventListener('click', firstPlay);
              </script>
        </div>
    </body>
    
</html>