<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Musical Chairs</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="../static/selection.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          <body>
            <div class=e4_15>
              <div  class="e4_17"></div>
              <div  class="e4_18"></div>
              <span  class="e4_19">B</span>
              <span  class="e4_20">bananainpajama7</span>
              <div  class="e4_22"></div>
              <div  class="e4_23"></div>
              <div  class="e4_24"></div>
              <div  class="e9_2"></div>
              <div  class="e9_3"></div>
              <div  class="e9_4"></div>
              <div  class="e9_5"></div>
              <a href="game"  class="e9_7">Game 1</a>
              <div  class="e9_18"></div>
              <div  class="e9_19"></div>
              <div  class="e9_20"></div>
              <div  class="e9_21"></div>
              <a href="game"  class="e9_22">Game 4</a>
              <div  class="e9_13"></div>
              <div  class="e9_14"></div>
              <div  class="e9_15"></div>
              <div  class="e9_16"></div>
              <a href="game"  class="e9_17">Game 3</a>
              <div  class="e9_8"></div>
              <div  class="e9_9"></div>
              <div  class="e9_10"></div>
              <div  class="e9_11"></div>
              <a href="game"  class="e9_12">Game 2</a>
              <span  class="e9_23">Description</span>
              <span  class="e9_24">Description</span>
              <span  class="e9_25">Description</span>
              <span  class="e9_26">Description</span>
            </div>
          </body>
</html>